<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Activated!</title>

</head>

<body>
  <div class="card">
    <h2>Activation Successful!</h2>
    <p>
      The Website Chat integration has been successfully
      {{#if wasAlreadyActive}}re-{{/if}}added to your account!

      You can add the chat widget to your website by
      adding the following code to your website!

      <textarea disabled>
        {{script}}
      </textarea>

      <p>Feel free to close this window</p>
    </p>
  </div>
</body>

</html>